{% extends 'base.twig' %}
{% block content %}

{% include 'components/hero-banner.twig'%}

<div class="section py-100 md:py-50">
	<div class="container flex flex-wrap">

		<div class="w-2/3 pr-50 md:w-full md:pr-0 md:mb-50">
			<div class="wysiwyg">
				{{ post.body_content|wpautop }}
			</div>
		</div>

		<div class="w-1/3 md:w-full">

			<div class="">
				<p class="h4 blue uppercase bold mb-30">Industry News</p>
				{% for item in sidebar_news %}
				<a href="{{ item.link }}" class="hov:blue pb-10 mb-10 border-bottom-grey block">
					{{ item.title }}
				</a>
				{% endfor %}
				<div class="flex">
					{% for i in 1..sidebar_news_total %}
					<a class="mr-10 blue {{ sidebar_current_page == i ? 'bold' }}" href="{{ post.link }}?sb-pg={{i}}"><span>{{ i }}</span></a>
					{% endfor %}
				</div>
			</div>

			<div class="mt-30">
				<p class="h4 blue uppercase bold mb-30">Categories</p>
				{% for item in sidebar_categories %}
					<a href="/resources/industry-news/?c={{ item.slug }}" class="hov:blue pb-10 mb-10 border-bottom-grey block">
						{{ item.name }}
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}
